<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LGScanViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3517CD9A1BB127570039DC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3517CDAE1BB127570039DC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3517CDB91BB127570039DC46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
